.skills__content{
    flex-direction: column;
    text-align: center;
}

.main-gallery{
    width: 80%;
}

.gallery-cell{
    width: 20%;
    height: 100px;
}

.skill {
    color: var(--olive-green);
    font-size: 6rem;
}

.img_icons {
    height: 6rem; 
}

/*
.skills__icons {
    display: flex;
    justify-content: space-evenly;
}
*/
.skills__comment {
    margin-top: 5%;
}

@media only screen and (max-width: 992px) {
    .gallery-cell{
        width: 35%;
    }
}

@media only screen and (max-width: 600px) {
    .gallery-cell{
        width: 100%;
    }
    .skill {
        color: var(--olive-green);
        font-size: 4rem;
    }
}