.training {
    display: grid;
    height: 20vw;
    grid-template-areas: "school" "title" "date";
    grid-template-columns: 25vw;
    grid-template-rows: 70% 15% 15%;
    text-align: center;
    background-color: var(--olive-green-op);
}

.training__school {
    grid-area: school;
    width: 80%;
    margin: auto;
    opacity: 0.7;
}

.uas{
    width: auto;
    height: 80%;
}

.training__title {
    grid-area: title;
    font-size: 1rem;
    font-weight: 500;
    margin: auto 0;
}

.training__date {
    grid-area: date;
    font-weight: 400;
}


@media only screen and (max-width: 660px) {
    .training__content {
        flex-direction: column;
    }
    .training {
        height: 127px;
        grid-template-columns: 90vw;
        margin-bottom: 1rem;
    }
    .training__school {
        width: auto;
        height: 70%;
    }
}